#phpstorm
.idea
.php-cs-fixer.cache

#macos
.DS_Store

#vscode
.vscode
.history

#mysql
/mysql

#root
/src/.env
/src/.vagrant
/src/node_modules
/src/vendor
/src/node_manager.md
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/public/images

#public
/src/public/storage
/src/public/uploads
/src/public/dist
/src/public/sitemap.xml
/src/public/robots.txt
/src/public/mix-manifest.json

#storage
/src/storage/*.key

/src/.php-cs-fixer.cache
/nbproject/private/
